<section class="athlete-strip scroll-strip">
    <div class="container">
        <h2 class="athlete-strip__title">Athletes</h2>
        <div class="athlete-strip__image-wrapper">
            <div style="background-image:url('/images/athlete.png')" class="athlete-strip__image scroll-image fold-image" id="image-1">
            </div>
            <div style="background-image:url('/images/athlete.png')" class="athlete-strip__image scroll-image fold-image" id="image-2">
            </div>
            <div style="background-image:url('/images/athlete.png')" class="athlete-strip__image scroll-image fold-image" id="image-3">
            </div>
            <div style="background-image:url('/images/athlete.png')" class="athlete-strip__image scroll-image fold-image" id="image-4">
            </div>
        </div>
    </div>
</section>