<footer class="strip-footer">
    <!-- {%-include stats-strip.html -%} -->
    {%-include footer-logos.html -%}
    <div class="strip-footer__wrapper">
        <div class="container">
            <div class="strip-footer__inner">
                <div class="strip-footer__logo">{% include logo-mono.svg %}</div>
                <div class="strip-footer__nav">
                    <a href="/brands" class="strip-footer__link">Brands</a>
                    <a href="/athletes" class="strip-footer__link">Athletes</a>
                    <!-- <a href="/contact" class="strip-footer__link">Contact us</a> -->
                    <a href="/privacy" class="strip-footer__link">Privacy policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>