<section class="header-image">
    {%include picture.html url="/images/mandela" alt="Nelson Mandela" class="header-image__bg" %}
    <div class="header-image__text">
        <div class="container">
            <h2 class="header-image__title">
                <span>&ldquo;Sport has the</span>
                <span>power to change</span>
                <span>the world&rdquo;</span>
            </h2>
            <h4 class="header-image__subtitle">Nelson <br>Mandela</h4>
        </div>
    </div>
</section>