<section class="select-strip scroll-strip" id="strip1">
    <div class="select-strip__col brand">
        <h2 class="select-strip__title">I am a<span>Brand</span></h2>
        <a class="button button--primary" href="/brands">Sign up</a>
    </div>
    <div class="select-strip__col athlete">
        <h2 class="select-strip__title">I am an<span>Athlete</span></h2 class="select-strip__title">
        <a class="button button--secondary" href="/athletes">Sign up</a>
    </div>
    <div class="select-strip__logo">{% include logo.svg %}</div>
    <div class="select-strip__logo mobile">{% include logo-mono.svg %}</div>
    <area class="select-strip__down" href="#1"></a>
</section>