<section class="split-strip scroll-strip">
    <div class="split-strip__outer-wrapper">
        <h3 class="split-strip__title">&ldquo;Sport has the power to change the world&rdquo;</h3>
        <div class="split-strip__wrapper">
            <div class="split-strip__col">
                <div class="split-strip__col-content">
                    <h3 class="split-strip__col-title">Brands</h3>
                    <p class="split-strip__text">{{site.title}} is all about collaboration: Transforming ME to WE, and
                        THEM to US.</p>
                    <p class="split-strip__text">{{site.title}} goes beyond the aesthetics and connects you to the
                        World’s best athletes with authentic and engaged followings. From Olympic legends to World Cup
                        Winners to &ldquo;The Next Big Thing&rdquo; they bring Personality amplified by Performance and a genuine
                        interest in your brand.</p>
                    <p class="split-strip__text">Create credible, fully trackable campaigns aligned to your KPIs whilst utilising genuine star power. Now that's true influence.</p>
                    <a href="/brands" class="button button--primary">Join us</a>
                </div>
                <div style="background-image:url('/images/brands.png')"
                    class="split-strip__image scroll-image fold-image" id="split_strip_image_1">
                </div>
            </div>
            <div class="split-strip__col">
                <div class="split-strip__col-content">
                    <h3 class="split-strip__col-title">Athletes</h3>
                    <p class="split-strip__text">{{site.title}} is all about collaboration: Transforming ME to WE, and
                        THEM to US.</p>
                    <p class="split-strip__text">{{site.title}} connects you to the biggest brands and the best
                        campaigns. Built by athletes for athletes we understand that there is a person behind the
                        persona and that’s why we only connect you to the brands you use, the brands you trust and the
                        brands you’ll love.</p>
                    <p class="split-strip__text">Authentic. Honest. Relevant. Now that’s true influence.</p>
                    <a href="/athletes" class="button button--primary">Join us</a>
                </div>
                <div style="background-image:url('/images/athletes.png')"
                    class="split-strip__image scroll-image fold-image" id="split_strip_image_2">
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
</section>