<section class="split-strip scroll-strip">
    <div class="split-strip__outer-wrapper">
        <h3 class="split-strip__title">&ldquo;Sport has the power <br>to change the world&rdquo;</h3>
        <div class="split-strip__wrapper">
            <div class="split-strip__col">
                <div class="split-strip__col-content">
                    <h3 class="split-strip__col-title">For brands</h3>
                    <p class="split-strip__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Non pulvinar </p>
                    <a href="/brands" class="button button--primary">Sign up</a>
                </div>
                <div style="background-image:url('/images/athletes.png')"
                    class="split-strip__image scroll-image fold-image" id="split_strip_image_1">
                </div>
            </div>
            <div class="split-strip__col">
                <div class="split-strip__col-content">
                    <h3 class="split-strip__col-title">For athletes</h3>
                    <p class="split-strip__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Non pulvinar </p>
                    <a href="/athletes" class="button button--primary">Sign up</a>
                </div>
                <div style="background-image:url('/images/athletes.png')"
                    class="split-strip__image scroll-image fold-image" id="split_strip_image_2">
                </div>
            </div>
        </div>
    </div>
    <footer class="strip-footer">
        <div class="stats-strip">
            <div class="container">
                <div class="stats-strip__wrapper">
                    <div class="stats-strip__col">
                        <h4 class="stats-strip__title">999 athletes</h4>
                    </div>
                    <div class="stats-strip__col">
                        <h4 class="stats-strip__title">9.9 million fans</h4>
                    </div>
                    <div class="stats-strip__col">
                        <h4 class="stats-strip__title">99 channels</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="strip-footer__wrapper">
            <div class="container">
                <div class="strip-footer__inner">
                    <div class="strip-footer__logo">{% include logo-mono.svg %}</div>
                    <div class="strip-footer__nav">
                        <a href="/brands" class="strip-footer__link">Brands</a>
                        <a href="/athletes" class="strip-footer__link">Athletes</a>
                        <a href="/contact" class="strip-footer__link">Contact us</a>
                        <a href="/privacy" class="strip-footer__link">Privacy policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>