<div class="stats-strip">
    <div class="container">
        <div class="stats-strip__wrapper">
            <div class="stats-strip__col">
                <h4 class="stats-strip__title">999 athletes</h4>
            </div>
            <div class="stats-strip__col">
                <h4 class="stats-strip__title">9.9 million fans</h4>
            </div>
            <div class="stats-strip__col">
                <h4 class="stats-strip__title">99 channels</h4>
            </div>
        </div>
    </div>
</div>