$colour_primary: #000;
$colour_secondary: #FDDC4E;
$colour_tertiary: #f7f7f7;
$colour_error: #cc0000;
$colour_success: #4BB543;

$font_heading: "rhode-condensed";
$font_text: "titling-gothic-fb";
$font_highlight: "permanent-marker";
