$colour_primary: #000;
$colour_secondary: #FDDC4E;
$colour_tertiary: #f7f7f7;
$colour_error: #cc0000;
$colour_success: #4BB543;

$colour_light_grey: #D7D7D7;
$colour_dark_grey: #484848;


$font_heading: "rhode-condensed";
$font_text: "titling-gothic-fb";
$font_highlight: "permanent-marker";
$font_text_alt: "neue-haas-grotesk-text";
